<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>Sign up</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><a href="#">Home</a></li>
          <li>Sign up</li>
        </ul>
      </nav>
    </div>

  </div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

  <div class="my-account">

    <div class="tabs-container">
      <!-- Register -->
      <%= form_for(resource, as: resource_name, html: {class: "register"}, url: registration_path(resource_name), class: 'register') do |f| %>
      <%= devise_error_messages! %>
        
      <p class="form-row form-row-wide">
        <label for="email2">Email Address:
          <%= f.email_field :email, autofocus: true, class: 'input-text' %>
        </label>
      </p>

      <p class="form-row form-row-wide">
        <label for="password1">Password:
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'input-text' %>
        </label>
      </p>

      <p class="form-row form-row-wide">
        <label for="password2">Repeat Password:
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input-text' %>
        </label>
      </p>

      <p class="form-row">
        <%= f.submit "Sign up", class: 'button border fw margin-top-10' %>
      </p>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
