<% jobs.each do |my_job| %>
	<tr>
		<td class="title"><a href="<%= job_path(my_job.job) %>"> <%= my_job.job.title %> </a></td>
		<% if my_job.job.job_type == 'Fixed' %>
			<td class="col-padding"> Fixed  </td>
		<% else %>
			<td class="col-padding"> Hourly $ <%= my_job.job.payment %> / HR  </td>
		<% end %>
		<% if my_job.job.job_type == 'Fixed' %>
			<td class="col-padding"> Fixed  </td>
		<% else %>
			<td class="col-padding"> 6.25 </td>
		<% end %>
		<td class="col-padding"> <span class="full-time status-box"><%= my_job.job_status %></span> </td>
		<td class="col-padding"> <span class="part-time status-box"><%= my_job.payment_status %></span> </td>
		<td class="col-padding"> 6.25 </td>
		<% if my_job.pay_slip.exists? %>
			<td class="col-padding"> <%= link_to my_job.pay_slip_file_name, my_job.pay_slip.url, target: :_blank %> </td>
		<% else %>
			<td class="col-padding"> Not yet available </td>
		<% end %>
		<td class="action">
			<% if my_job.job_status == "Pending" %>
				<a href="<%= clock_in_job_path(my_job) %>"><i class="fa fa-clock-o"></i> ClockIn</a>
			<% end %>
			<a href="#"><i class="fa fa-eye-slash"></i> View</a>
			<% if my_job.job_status == "Pending" %>	
				<a href="<%= clock_out_job_path(my_job) %>"><i class="fa fa-hourglass"></i> ClockOut</a>
			<% end %>
		</td>
	</tr>
<% end %>