<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>Login</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><a href="#">Home</a></li>
          <li>Login</li>
        </ul>
      </nav>
    </div>

  </div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

  <div class="my-account">

    <div class="tabs-container">
      <!-- Login -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'login') do |f| %>

        <p class="form-row form-row-wide">
          <label for="username">Email:
            <i class="ln ln-icon-Male"></i>
            <%= f.email_field :email, autofocus: true, class: 'input-text' %>
          </label>
        </p>

        <p class="form-row form-row-wide">
          <label for="password">Password:
            <i class="ln ln-icon-Lock-2"></i>
            <%= f.password_field :password, autocomplete: "off", class: 'input-text' %>
          </label>
        </p>

        <p class="form-row">
          <%= f.submit "Log in", class: 'button border fw margin-top-10' %>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %> Remember me
            </div>
          <% end -%>
        </p>
        
      <% end %>
      <% render "devise/shared/links" %>
    </div>
  </div>
</div>
